.container{
    display: flex;
    border: 2px solid black;
    margin: auto;
    border-radius: 15px;
    width: 200px;
    height: 100px;
    background: linear-gradient(-45deg, rgb(186, 31, 31), rgb(195, 19, 235),rgb(59, 247, 17),rgb(0, 0, 0),rgb(27, 227, 242));
    background-position: 400% 400%;
    background-size: 400% 400%;
    padding-top: 10% ;
     padding-left: 0% ;
     padding-bottom: 15%;
     animation: container 15s ease infinite;
}
@keyframes container{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.container label{
    border: rgb(9, 243, 223) 1px solid;
     background: radial-gradient(circle,rgb(7, 248, 232),rgb(255, 253, 253),blue);
    background-position: 200% 200%;
    background-size: 200% 200%;
    animation: label 5s infinite;
    padding: 2%;
    margin: auto;
    animation: label 3s infinite ease-in-out;
}
@keyframes label{
     0%{background-position: 0% 50%;}
       50%{background-position: 100% 50%;}
         100%{background-position: 0% 50%;}
}
body{
    margin: auto;
    background: linear-gradient(-45deg,blue,aqua,white,rgb(57, 251, 3));
    background-position: center;
    background-size: 400% 400%;
    animation:  body 15s alternate infinite;
}
@keyframes body{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}